node_modules
.next
.git
.gitignore
.env
.env.local
.env.*.local
.env.production
.env.development
android
ios
build
dist
data
prisma/dev.db
prisma/dev.db-journal
prisma/build.db
prisma/build.db-journal
*.log
.DS_Store
.vscode
.idea
README.md
